button {
    background-color: #007bc0;
    color: #fff;
    border: none;
    margin: 2rem;
    padding: 2rem;
    font-size: 1rem;
}

button:hover {
    background-color: #00629a;
    cursor: pointer;
}

button:focus {
    background-color: #004975;
}